.landing {
    height: 100vh;
    width: 100vw;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-size: 4em;
    position: absolute;
}

.vibe-choice {
    font-size: 2.5em;
    position: absolute;
    top: 65%;
    text-shadow: 0 5px 25px 0 rgba(0, 0, 0, .25);
}

select {
    appearance: none;
    display: block;
    padding: .25em .25em .25em .50em;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    color: white;
    z-index: 1;
    background-color: teal;
    border: 1px solid white;
    border-radius: 0.25em;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    top: 81%;
    left: 37%;
}


.genre-select-button {
    padding: 0% 1%;
    border-style: none;
    border: 1px solid white;
    border-radius: 5px;
    background-color: teal;
    color: white;
    font-size: 2em;
    position: absolute;
    top: 89%;
    left: 45%;
}

.hidden {
    display: none;
}