.landing {
    height: 100vh;
    width: 100vw;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-size: 4em;
    position: absolute;
}

.vibe-choice {
    font-size: 2.5em;
    position: absolute;
    top: 65%
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
    color: white;

}

.selector {
    border: 1px solid white;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.5em;
    cursor: pointer;
    line-height: 1.1;
    background-color: teal;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 80%;
}

.selector::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: white;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.selector:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid black;
    border-radius: inherit;
}

.genre-select-button {
    padding: 0% 1%;
    border-style: none;
    border: 1px solid white;
    border-radius: 5px;
    background-color: teal;
    color: white;
    font-size: 2em;
    position: absolute;
    top: 89%;
    left: 45%;
}

.hidden {
    display: none;
}