.mainPage {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  display: grid;
  grid-template-columns: .5fr 3fr .5fr 5fr .5fr;
  grid-template-rows: .25fr 1fr .25fr;
  grid-template-areas: 
  '.   .    .    .   .'
  '. player . random .'
  '.   .    .    .   .';
}


.display {
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.5);
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .25);

}

.player {
  grid-area: player;
}

.randomSong {
  border-radius: 10px;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  grid-area: random;
}

.track-container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 5fr 1fr 5fr 1fr 5fr 1fr;
  grid-template-areas: 
  '. artist . title . duration . button .';

  align-items: center;
  height: 3rem;
}

.track-container > p {
  font-size: 1em;
  margin: 10px;
}

.track-artist {
  grid-area: artist;
}

.track-title {
  grid-area: title;
}

.track-duration {
  grid-area: duration;
}

.add-to-queue-button {
  height: 25px;
  min-width: 100px;
  margin: 10px;
  grid-area: button;
}

.album-grid {
  width: 100vw;
  position: absolute;
  z-index: -1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.album-grid > span > img {
  width: 100%;
  height: 100%;
}