.player {
    border: 5px solid black;
    height: 20vh;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .randomSong {
    margin: 50px;
    border: 5px solid black;
    height: 20vw;
    width: 20vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .mainPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }