.mainPage {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.media {
  height: 20vh;
  width: 80vw;
}

.randomSong-display {
  align-items: center;
  background-color: rgb(255, 255, 255, 0.75);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: flex-start;
  margin: 0 5% 5% 5%;
  overflow-y: scroll;
  width: 80vw;
}

.nav {
  align-items: center;
  background-color: teal;
  border: 2px;
  border-radius: 0.25em;
  color: white;
  font-size: 1.2em;
  margin: 10px;
  outline: none;
}

.track-container {
  align-items: center;
  display: grid;
  grid-template-areas: ". artist . title . duration . button .";
  grid-template-columns: 1fr 5fr 1fr 5fr 1fr 5fr 1fr 5fr 1fr;
  height: 3rem;
}

.track-container > p {
  font-size: 1em;
  margin: 10px;
}

.track-artist {
  grid-area: artist;
}

.track-title {
  grid-area: title;
}

.track-duration {
  grid-area: duration;
}

.add-to-queue-button {
  grid-area: button;
  height: 25px;
  margin: 10px;
  min-width: 100px;
}

.album-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  height: inherit;
  overflow-y: hidden;
  position: fixed;
  width: 100vw;
  z-index: -1;
}

.album-grid > span > img {
  height: 100%;
  width: 100%;
}

.playlist-options {
  background-color: rgb(255, 255, 255, 0.75);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 118vh;
}

@media only screen and (max-width: 400px) {
  .album-grid {
    grid-template-columns: repeat(2 1fr);
  }
  .mainPage {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
  .album-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .mainPage {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .album-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 800px) {
  .album-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
